.centerColumnsAndPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;

  position: relative;

  margin-top: 43rem;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50vh;

  height: auto;

  padding: 3rem;

  border-radius: 20px;

  background-color: white;
  box-shadow: 0.1px 5px 6px rgba(0, 0, 0, 0.114), 0 0 0 1px rgba(0, 0, 0, 0.074);
}

.column img {
  width: 200px;
}

.column h1 {
  color: #141c3a;

  font-size: 1.7rem;
  font-weight: 800;

  margin-bottom: 3rem;
}

.column p {
  display: flex;
  text-align: center;

  color: #141c3a;

  font-size: 1.5rem;
  line-height: 30px;

  margin-bottom: 3rem;
}

.column h2 {
  color: #6E07F3;

  margin-bottom: 3rem;

  font-size: 1.4rem;
}

.listSkills {
  text-align: center;

  color: #141c3a;

  font-size: 1.5rem;
  line-height: 40px;

  margin-bottom: 2rem;
}